.meeting {
    border:  1px solid cadetblue;
    border-radius: 5px;
    width: 900px;
    margin:0 auto;
    padding: 20px;
    margin-top: 20px;
    min-height: 400px;
}

button {
    width: 100%;
}

.meeting-log {
    border: 1px solid cadetblue;
    margin: 5px;
}

.comment-container {
    display: table;
    width: 100%;
    height: 60px;
    padding:5px;
}

.comment {
    font-size: 90%;
}

.comment span.badge {
    float: right;
}

.original {
    padding-left :10px;
    padding-top: 5px;

    text-align :justify;
}


.translated {
    padding-left :10px;
    padding-top: 5px;
    font-weight:bold;
    text-align :justify;
    font-style: italic;
}


.entities span.badge {
    font-size: 70%;
    float: none;
    clear: both;
    display: inline-block;
    margin-left: 5px;
}
.entities .badge::after {
    clear: initial;
}


#comments-scroll {
    overflow-x:scroll;
    overflow-y:visible;
    height:800px;
}